/****************** section1 시작 ******************/
.AboutMe_section1 {
  height: 100%;
  position: relative;
}

.AboutMe_section1 p,
.AboutMe_section1 ul {
  margin: 0;
  padding: 0;
}

.AboutMe_section1_back_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px); /* 배경 이미지에 블러 효과 적용 */
  z-index: 1;
  transform: scale(1);
  transition: transform 7s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url("../../img/slide1_back.png");
  background-size: cover;
  background-position: center;
  animation: zoomIn 6s ease-in-out forwards; /* 10초 동안 확대 */
}

.AboutMe_section1_box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.AboutMe_section1_back_img.loaded {
  transform: scale(1.05); /* 이미지 확대 */
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05); /* 원하는 확대 정도로 설정 */
  }
}

/* 텍스트 상자 */
.AboutMe_text_container {
  /* position: absolute; */
  height: 100%;
  z-index: 3;
  text-align: left;
  color: #fff;
  left: 5%;
  top: 15%;
  font-size: 1.5vw;
  line-height: 2.5vw;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

/* 순차적으로 페이드 인되는 p 태그 */
.fade_in_p {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

/* 각 p 태그에 순차적으로 애니메이션 딜레이를 줌 */
.fade_in_p:nth-child(1) {
  animation-delay: 0.5s;
}

.fade_in_p:nth-child(2) {
  animation-delay: 1s;
}

.fade_in_p:nth-child(3) {
  animation-delay: 1.5s;
}

.fade_in_p:nth-child(4) {
  animation-delay: 2s;
}

.fade_in_p:nth-child(5) {
  animation-delay: 2.5s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 두 번째 텍스트 컨테이너 */
.AboutMe_text_container2 {
  /* position: absolute; */
  height: 100%;
  z-index: 3;
  text-align: left;
  color: #fff;
  right: 30%;
  top: 15%;
  font-size: 1.5vw;
  line-height: 2.5vw;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  opacity: 0;
  animation: fadeIn2 2s forwards; /* 2초 동안 페이드 인 */
  animation-delay: 3s; /* 3초 딜레이 */
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.AboutMe_text_container2 ul {
  display: flex;
  flex-direction: column;
}

.AboutMe_text_container2 ul li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.AboutMe_text_container2_img {
  margin-right: 15px;
}

.AboutMe_text_container2_img svg {
  width: 25px !important;
  height: 25px !important;
}

/* 페이드 인과 함께 아래에서 위로 올라오는 효과 */
.fade_in {
  opacity: 0;
  transform: translateY(20px); /* 아래에서 시작 */
  animation: fadeInUp 2s forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* 아래에서 시작 */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* 원래 위치로 */
  }
}

/* 화살표 애니메이션 */
.arrow {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px; /* 화살표 크기 조정 */
  opacity: 0;
  animation: fadeInUpArrow 2s ease-in-out infinite;
}

@keyframes fadeInUpArrow {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateX(-50%) translateY(-10px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(0);
  }
}

/****************** section2 시작 ******************/
.slide_section2 ul,
.slide_section2 p {
  margin: 0;
  padding: 0;
  color: #ddd;
}

.slide_section2 p {
  text-align: center;
  font-size: 1.5rem;
}

.slide_section2 {
  display: grid;
  padding: 20px;
  height: 100%;
  align-content: center;
}

.slide_section2_contaner {
  height: 100%;
  margin-top: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills_title {
  text-align: center;

  color: #ddd;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}

.skills_title span {
  font-size: 4rem;
  border-bottom: 2px solid #ddd;
}

.slide_section2_skill_box {
  margin: 0 5px 0 5px !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3개씩 배치 */
  gap: 20px;
  padding: 2rem 3rem !important;
  background-color: #f7f7f7;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
}

.slide_section2_skill_box li {
  cursor: pointer;
  list-style: none;
  transition: transform 0.3s ease;
}

.slide_section2_skill_box li:hover {
  transform: scale(1.2);
}

.slide_section2_skill_box li:hover img {
  transform: scale(1.2);
}

.slide_section2_skill_box img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

/****************** section2 끝 ******************/

@media screen and (max-width: 767px) {
  /* section1 */

  .AboutMe_section1 {
    height: 100% !important;
    padding-bottom: 10vw;
  }
  .AboutMe_text_container {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .AboutMe_section1_box {
    align-items: unset;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .AboutMe_text_container2 {
    /* position: absolute; */
    height: 100%;
    z-index: 3;

    right: unset !important;
    left: 0;
    top: 15%;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    opacity: 0;
    animation: fadeIn2 2s forwards; /* 2초 동안 페이드 인 */
    animation-delay: 3s; /* 3초 딜레이 */
  }

  /* section1  끝*/

  /* section2 */
  .slide_section2 {
    height: 100% !important;
  }
  .slide_section2_contaner {
    height: 100%;

    align-items: center;
    flex-direction: column;
  }
  /* section2 끝 */

  .slide_section2_skill_box li {
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05); /* 살짝 확대 */
    }
  }
}
