.board_list_wrap {
  padding: 20px;
  color: #ddd;
}
.board_list_wrap a {
  color: #ddd;
}
.board_list_wrap .post_list {
  list-style-type: none;
  padding: 0;
}
.board_list_wrap h2 {
  color: #ddd;
}

.board_list_wrap .post_item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.board_list_wrap .thumbnail {
  margin-right: 20px;
}

.board_list_wrap .thumbnail_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.board_list_wrap .post_info h2 {
  margin: 0;
  font-size: 18px;
}

.board_list_wrap .post_info p {
  margin: 5px 0 0;
  color: #666;
}

.AboutMe_q_mark {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 10;
  width: 220px;
  height: 300px;
  overflow: hidden;
}
.AboutMe_q_text {
  background-color: #ddd;
  position: relative;
  left: -400px;
  transition: 1s;
}

.AboutMe_q_mark:hover .AboutMe_q_text {
  left: 0;
}
