.Project_name {
  text-align: center;
  font-size: 2rem;
}
.Project_days {
  text-align: center;
  color: #a7a3a3;
  margin-bottom: 30px !important;
}

.Project_content_wrapper {
  display: flex;
  gap: 20px;
}

.Project_introduce_box_slide {
  flex: 1;
  max-width: 50%;
}

.Project_introduce_box_text {
  flex: 1;
  padding: 0 20px 20px;
}
.Project_introduce_box_text h3 {
  margin-top: 0;
}

.Project_introduce_box_skill_box {
  display: flex;
}

.Project_introduce_box_projectsimple {
  margin-top: 10px;
}
.Project_introduce_box_url {
  margin-top: 10px;
}
.Project_introduce_box_skills {
  border-radius: 1rem;
  border: 1px solid gray;
  padding: 0px 4px;
  cursor: pointer;
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  .Project_content_wrapper {
    flex-direction: column;
  }

  .Project_days {
    font-size: 1.4rem;
  }

  .Project_introduce_box_slide {
    width: 100%;
    max-width: 100%;
  }
  .Project_introduce_box_text {
    font-size: 1.2rem;
  }

  .Project_introduce_box_skill_box {
    flex-wrap: wrap;
  }

  .Project_introduce_box_skills {
    margin-bottom: 2vw;
  }
}


/****** 스와이퍼 커스텀 *****/
/* Swiper 화살표 커스텀 */
.Project_introduce_box_slide :global(.swiper-button-next),
.Project_introduce_box_slide :global(.swiper-button-prev) {
  color: #333; /* 화살표 색상 */
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.8); /* 배경색 */
  border-radius: 50%; /* 동그랗게 */
  transition: all 0.3s;
}

/* 화살표 내부 아이콘 크기 조절 */
.Project_introduce_box_slide :global(.swiper-button-next::after),
.Project_introduce_box_slide :global(.swiper-button-prev::after) {
  font-size: 18px !important; /* 화살표 크기 */
  font-weight: bold;
}

/* 호버 효과 */
.Project_introduce_box_slide :global(.swiper-button-next:hover),
.Project_introduce_box_slide :global(.swiper-button-prev:hover) {
  background: #000;
  color: #fff;
}

/* 페이지네이션(점) 색상도 바꾸고 싶다면 */
.Project_introduce_box_slide :global(.swiper-pagination-bullet-active) {
  background-color: #333 !important;
}